{% trans_default_domain 'Modules.Adbuyback.Front' %}

<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" id="buyback-link" href="{{ link }}">
    <span class="link-item">
        <i class="material-icons">transform</i>
        {{ 'Buyback' | trans }}
    </span>
</a>
