{% trans_default_domain 'Modules.Adbuyback.Front' %}

<a id="ad-buyback" href="{{ link }}">
    <header class="ad-bb-title">
        {{ 'Your products interest us !'|trans }}
    </header>
    <article class="ad-bb-content">
        {{ 'Fill out our buy back form and let us make you a proposal !'|trans }}
    </article>
</a>
