{% trans_default_domain 'Modules.Adbuyback.Front' %}

<a class="ad-bb-front-widget d-flex justify-content-evenly p-1" href="{{ link }}">
    <header class="ad-bb-front-widget-header">
        {{ 'Your products interest us !' | trans }}
    </header>
    <article class="ad-bb-front-widget-content">
        {{ 'Fill out our buy back form and let us make you a proposal !' | trans }}
    </article>
</a>
