#ad-buyback {
    display: block;
    margin-bottom: 1.5rem;
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: #232323;
    background: #fff;
    border-radius: 2px;
}

#ad-buyback .ad-bb-title {
    display: inline-block;
    font-weight: 500;
    margin-right: 2rem;
}

#ad-buyback .ad-bb-content {
    display: inline-block;
}

