<button class="ad-bb-grid-img" type="button" style="display: flex; padding: 0; width: 47px; height: 47px; border: none;"
        data-toggle="modal" data-target="#buybackImage-grid-view-modal"
>
    <img class="img-thumbnail p-1" data-toggle="pstooltip" data-placement="top"
         title="{{ 'Click for preview' | trans({}, 'Modules.Adbuyback.Admin') }}"
         src="https://www.axecash.test/modules/ad_buyback/views/img/buyback/{{ record[column.options.src_field.id_buyback] }}/thumbnail/{{ record[column.options.src_field.filename] }}"
         alt="{{ record[column.options.src_field.filename] }}"
    >
</button>
