{% trans_default_domain 'Modules.Adbuyback.Admin' %}

<div class="modal fade" id="{{ modalId }}" aria-modal="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button class="close" type="button" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body text-left font-weight-normal">
                <p class="confirm-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary btn-lg" data-dismiss="modal"></button>
                <button type="button" class="btn btn-lg btn-confirm-submit" data-dismiss="modal"></button>
            </div>
        </div>
    </div>
</div>
